
<%
const categoriesList = list_categories({ show_count: false });
const tagsList = list_tags({ show_count: false });
const archivesList = list_archives({ show_count: false });
%>

<div id="index-banner" style="background-image: url(<%- url_for(theme.banner_image)%>)">
  <div id="banner-mask">
    <div id="archive-outer">
      <p id="archive-title">
        目录
      </p>
    </div>
  </div>
</div>

<div id="archive">
  <div>
    <h1>文章分类</h1>
    <hr />
    <% if (categoriesList !== "") { %>
      <%-categoriesList%>
    <% } else { %>
      <p>None.</p>
    <% } %>
  </div>
</div>
