<div id="index-banner" style="background-image: url(<%- url_for(theme.banner_image) %>);">
  <!-- <div id="banner-background" > -->
    <!-- 背景+半透明黑色 -->
  <!-- </div> -->
  <div id="profile-outer">
    <!-- 个人信息 -->
    <div id="index-avatar" style="background-image: url(<%- url_for(theme.avatar_image) %>);">
      <!-- 头像 -->
    </div>
    <div id="index-intro">
      <!-- 个人介绍 -->
      <p id="profile-name">喂草</p>
      <p id="profile-signature">有时我听风过耳，觉得为了听风过耳，也值得出世为人。</p>
    </div>
  </div>
</div>

<%-partial('partials/recent-posts')%>

<div id="paginator">
  <%-paginator({
      prev_text: '<',
      next_text: '>'      
  })%>
</div>
