<div id="index-banner" style="background-image: url(<%- url_for(theme.banner_image) %>);">
  <div id="profile-outer">
    <div id="profile-menu"></div>
    <div id="index-avatar" style="background-image: url(<%- url_for(theme.avatar_image) %>);"></div>
    <div id="index-intro"></div>
  </div>
</div>

<%-partial('partials/recent-posts')%>

<div id="paginator">
  <%-paginator()%>
</div>
