<!DOCTYPE html>
<html>
  <%- partial('_partial/head')%>
  <title><%= config.title %></title>
  <body>
    <%- partial('_partial/header') %>
    <div>
      <h1>Hello Word</h1>
    </div>
  </body>
</html>
