// banner
div#archive-outer {
    margin: 0px auto;
    text-align: center;    
    padding: 100px 0px;
    max-width: 800px;
}

p#archive-title {    
    color: white;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 40px;
}

// 类别
div#archive {
    max-width: 800px;
    padding: 0px 40px;
}
