div#index-banner {
    background-size: cover;
}

div#profile-outer {
    text-align: center;    
    padding: 50px 0px;
}

@avatar-size: 100px;
div#index-avatar {
    width: @avatar-size;
    height: @avatar-size;
    display: inline-block;
    background-size: cover;
}

div#index-intro {
    text-align: left;    
    width: 60%;
    height: 100px;
    top: 0px;
    display: inline-block;
    margin: 0px 20px;
    vertical-align: top;
}

p#profile-name {
    color: white;
    font-family: Heiti, Sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

p#profile-signature {
    color: white;
    margin-top: 10px;
    font-family: Heiti, Sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
