div#index-banner {
    // height: 200px;
    background-size: cover;
}

div#profile-outer {
    height: 240px;
    text-align: center;
    // background-color: blue;
}

div#profile-menu {
    height: 50px;
    width: 100%;
    display: inline-block;
}

div#index-avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    // background-color: blue;
    background-size: cover;
}

div#index-intro {
    width: 200px;
    height: 100px;
    display: inline-block;
    background-color: yellow;
}
