// banner
div#index-banner {
    background-size: cover;
}

div#profile-outer {
    text-align: center;    
    padding: 50px 0px;
}

@avatar-size: 100px;
div#index-avatar {
    width: @avatar-size;
    height: @avatar-size;
    display: inline-block;
    background-size: cover;
}

div#index-intro {
    text-align: left;    
    width: 60%;
    height: 100px;
    top: 0px;
    display: inline-block;
    margin: 0px 20px;
    vertical-align: top;
}

p#profile-name {
    color: white;
    font-family: Heiti, Sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

p#profile-signature {
    color: white;
    margin-top: 10px;
    font-family: Heiti, Sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

// posts
div#recent-posts {
    margin: 0px auto;
    max-width: 800px;    
}

div.recent-post-item {
    margin: 50px 0px;
}

@tag-height: 32px;
span.post-tag {
    margin: 0px 5px;
    background-color: lightgrey;
    color: white;
    height: @tag-height;
    padding: 0px 12px;
    vertical-align: super;
    line-height: @tag-height;
    text-align: center;
    font-family: Heiti, Sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 3px;
    display: inline-block;
}

span.post-title a {
    color: black;
    font-family: Heiti, Sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

div.post-image {
    background-size: cover;
    background-color: lightgray;    
}

p.post-excerpt {
    color: grey;
    font-family: Heiti, Sans-serif;
    font-weight: lighter;
}
