// 文章页banner
div#post-banner-outer {
    background-size: cover;
}

div#post-banner-inner {
    max-width: 800px;
    margin: 0px auto;
    padding: 100px 40px;
}

p#banner-title {
    font-size: 2em;
    font-weight: bolder;
    color: white;
}

time.date {
    color: white;
    font-size: 1em;
    font-weight: normal;
}

// 文字
article#post {    
    max-width: 800px;
    margin: 30px auto;
    padding: 0px 40px;
}

article > * {
    margin: 15px 0px;
}

article p {
    font-weight: normal;
    color: #444444;
    // text-indent: 2em;
}

article a {
    color: #F60F48;
    font-weight: bold;
}

article blockquote {
    background-color: #eeeeee;
    padding: 4px 10px 4px 30px;
    border-left: solid;
    border-width: 4px;
    border-color: #F7AC2C;
}

// 图像
img {
    width: 100%;
    max-height: 300px;
    max-width: 800px;
    margin: 5px auto;
}

// 代码块
article figure {
    background-color: #eeeeee;
    overflow: auto;
}

figure td {
    padding: 0px 8px;
}

code {
    margin: 3px;
    font-size: 0.9em;
    font-family: Menlo, Monospace;
    background-color: #eeeeee;
    padding: 1px 4px;
    border-color: #cccccc;
    border-style: solid;    
    border-width: 1px;
    border-radius: 3px;
}

figure span {
    font-family: Menlo, Monospace;
    line-height: 1.2em;
}

td.gutter span {
    color: #cccccc;
    // width: 40px;
}
